@import "../../node_modules/bootstrap/scss/bootstrap";

header{
    @import "./partials/header";
}

#jumbo{
    @import "./partials/jumbo";
}

section.comics{
    height: 100%;
    background-color: black;

        div.card{
            height: 25%;

                h5{
                    color: white;
                }
        }
}